target/
build/
out/

idea/
*.iml
*.ipr
*.iws
shelf/
workspace.xml

.classpath
.project
.settings/
bin/
.metadata/
.sts4-cache/

vscode/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

gradle/

.log
logs/
*.log.*

target/surefire-reports/
target/failsafe-reports/

build/reports/
build/test-results/

target/jacoco/
build/jacoco/
jacoco*.exec
coverage.*.json

.pid
*.pid.old

s_err_pid*
replay_pid*
